<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/menubar.css') }}"><!-- import css file-->
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script><!-- jQuery invocation -->
        <script src="{{url_for('static', filename='js/menubar.js')}}"></script>  <!-- Import my js file-->

        {% block title %}{% endblock %}
    </head>

    <body>
            
            <div class="menu-left">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li>
                        <a href="#">Música</a>
                        <ul>
                            <li><a href="#">Teoría musical</a></li>
                            <li><a href="#">curso 2</a></li>
                            <li><a href="#">curso 3</a></li>
                        </ul>
                    </li>
                    <li><a href="">Instrumentos</a>
                        <ul>
                            <li><a href="#">Guitarra</a></li>
                            <li><a href="#">Bajo</a></li>
                            <li><a href="#">Piano</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="login-container" class="menu-right">
                <ul>
                    <li>
                        {% if user == '' %}
                        <a id="login">Iniciar Sesión</a>
                        <ul>
                            <div class="login">
                                <form method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    {% from "_macro.html" import render_field %}
                                    {{ render_field(forml.username)}}
                                    {{ render_field(forml.passwd)}}
                                    {{ forml.honeypot}}
                                    <button type="submit" name="btn" value="login" class="btn">Iniciar</button>
                                    <br>
                                    <a href="#">¿Olvidaste tu contraseña?</a>
                                </form>
                            </div>
                        </ul>
                        {% else %}
                            <a id = "login">{{user }}</a>
                            <ul>
                                <li><a href="http://localhost:5000/logout">Cerrar sesión</a></li>
                            </ul>
                        {% endif %}
                    </li>
                </ul>
            </div>

            {% if error == 'UNIQUE' %}
            <div class="error-msg">
                <i class="fa fa-times-circle"></i>
                Usuario y/o mail ya utulizados, pruebe otro.
              </div>

            {% elif error == 'SUCCESS' %}
            <div class="success-msg">
                <i class="fa fa-check"></i>
                Se ha registrado correctamente.
              </div>

            {% endif %}

            {% block content %}
            {% endblock %}
    </body> 

</html>